body{
background: rgba(0, 0, 255, 0.274);
font: normal 15pt  Arial;
}
@font-face{
    font-family: "Flappy";
    src: url(/projetoFlapy/fonte/flappy.ttf);
}
header{
    color: white;
    text-align: center;

}
section{
background: white;
border-radius: 10px;
padding:15px;
width: 288px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}
div#corpo{
    margin: auto;
    text-align: center;
}
#game_over {
    margin: auto;
    top: 280px;
    left: 730px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 12px black;
    font-family: Flappy;
    font-size: 50px;
    color: rgb(218, 19, 19);
    width: 250px;
    height: 200px;
    background-color: white;
    position: absolute;
    text-align: center;
    display: none;
}
canvas{
    text-align: center;
    margin: auto;
}
footer#rodape{
    width: 300px;
    clear:both;
    margin: auto;
    border-top:1px #606060 solid;
    
    margin-top:50px;
    }
    footer#rodape p{
    text-align:center;
    margin: auto;
    color: white;
    text-shadow:1px 1px 2px rgba(15, 15, 15, 0.568);
    }
    footer#rodape a{
    color:#ece7e7;
    
    }
    footer#rodape a:hover{
    color:#af3d298e;
    text-decoration:underline;
    
    }